body{background: #ffffff!important}
.txt-14{font-size: 14px!important}
p{font-size: 16px!important;}
.header-footer-group{position: fixed!important;width: 100%;z-index: 1;padding: 10px 0px;}
.container,.header-footer-group{padding: 0;box-shadow: 0 0 15px 5px rgba(233, 231, 231, 0.8);}
.container > .padding-top{padding-top: 100px}
.bottom{bottom:0}
.center{margin: 0 auto;display: table;}
.section-3.bg{background: url('../../assets/images/Body-wash-towel-08.png');background-size: cover;background-repeat: no-repeat;background-color: #ffffff;}
.section-3 .padding {padding: 22%;}
.section-3 .padding > div img{margin: 0 auto;display: table;}
.section-4.bg{background: url('../../assets/images/Body-wash-towel-13.png');background-size: cover;background-repeat: no-repeat;background-color: #ffffff;}
.section-6.bg{background: url('../../assets/images/Body-wash-towel-25.png');background-size: cover;background-repeat: no-repeat;position: relative;top: -30px}
.section-6 > div{padding: 5%}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
@media only screen and (max-width: 991px) {
  .section-3 .padding > div {background-color: white;}
  .section-3 .padding {padding: 10%;}
}
