body{background: #ffffff!important}
.txt-14{font-size: 14px!important}
p{font-size: 16px!important;}
header.header-layout1 .vmagazine-lite-nav-wrapper{border: 0}
header.header-layout1 .logo-ad-wrapper .vmagazine-lite-container{padding: 10px 0px}
.header-footer-group{position: fixed!important;width: 100%;z-index: 1;padding: 10px 0px;}
.site-header {position: fixed;z-index: 1;width: 100%;background: white;}
.site-content{padding-top: 5%;}
.container.home,.header-footer-group,.bar-nav .container{padding: 0;box-shadow: 0 0 15px 5px rgba(233, 231, 231, 0.8);}
.bottom{bottom:0}
.left{left:0}
.site-branding > a {padding-top: 16%;}
.top-right {padding-top: 6%;}
.center{margin: 0 auto;display: table;}
.section-3.bg{background: url('../../assets/images/Body-wash-towel-08.png');background-size: cover;background-repeat: no-repeat;background-color: #ffffff;}
.section-3 .padding {padding: 22%;}
.section-3 .padding > div img{margin: 0 auto;display: table;}
.section-4.bg{background: url('../../assets/images/Body-wash-towel-13.png');background-size: cover;background-repeat: no-repeat;background-color: #ffffff;}
.section-6.bg{background: url('../../assets/images/Body-wash-towel-25.png');background-size: cover;background-repeat: no-repeat;position: relative;top: -30px}
.section-6 > div{padding: 5%}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
@media only screen and (max-width: 991px) {
  .section-3 .padding > div {background-color: white;}
  .section-3 .padding {padding: 10%;}
  .bar-nav{display: none!important}
  .site-content {padding-top: 0;}
  .vmagazine-lite-mobile-nav-wrapp {display: table;}
}
